.search_results{

    &_title{
        display: flex;
        align-items: center;
        gap: 20px;
        &_tit{
            color: rgb(133, 133, 133);
            font-size: 16px;
            font-weight: 400;

        }
        &_line{
            background-color: rgb(177, 177, 156);
            height: 16px;
            width: 1px;

        }
        &_search{
            color: rgb(45, 45, 43);
            font-size: 16px;
            font-weight: 400;

        }
    }

    &_page{
        margin-bottom: 49px;
    font-family: "GFS Didot", serif;
    color: rgb(45, 45, 43);
    font-size: clamp(1.5rem, 3.5vw, 7rem);
    margin-top: 49px;
    }
    &_desc{
        font-size: 20px;
        font-family: "Raleway", sans-serif;
        font-weight: 500;

    }
}