@import "../../responsive/mixins";

.button_comp {
    padding: 22px 0px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: rgba(184, 146, 106, 1);
    color: rgba(234, 230, 223, 1);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition:  all ease .3s;
    border: 1px solid rgba(184, 146, 106, 1);
    @include tablet{
      // max-width: 100% !important;
    }



  }


  .reset_btn{
    margin-top: 20px;
  }


  .newpassword{
    margin-top: 20px;
  }

  .registerbtn{
    margin-top: 20px;
  }


  .about_shopnow_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    max-width: 330px;
    @include mobile{
      width: 100%;
      max-width:none;
      margin-bottom: 50px;
    }


  }


.productsinfp_classname{
  max-width: 330px;

  &_transparent{
    background-color: transparent !important;
    max-width: 330px;
    color: rgba(184, 146, 106, 1);
    font-weight: 500;
  }
}



.basket_btn{
max-width: 270px;
margin-top: 40px;
}



.checkout_btn{
  margin-top: 50px;
}

.popup_btn{
  max-width: 214px;
  padding: 15px 0px;
  margin-top: 35px;
}



.personal_info_form_btn{
  background-color: rgba(184, 146, 106, 1);
  max-width: 446px  ;
  width: 100%;
}