.home_search_cont{
margin-top: -28px;
    position: relative;
    width: 100%;
    transition: all ease .4s;
    &_icon{
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      cursor: pointer;

       &_inp{

        width: 100%;
        padding: 8px 8px 8px 40px;
        height: 70px;
        border: none;
        outline: none;
        background-color: rgba(234, 230, 223, 1);

       }
       &_close{
        position: absolute;
        transform: translateY(-50%);
        display: flex;
        right: 28px;
        top: 50%;
        cursor: pointer;
       }
    }
  }


  